
  <div class="map-container col-xs-12 col-md-6">
  <div class="area-info">{{areaSelected.name}}</div>
   <leaflet  id="map" defaults="defaults" center="defaultCenter" layers="layers" geojson="displayedGeoJSON"  markers="displayedMarkers"> </leaflet>
  </div>
  <div ng-controller="MapInfoAccordionCtrl" class="info-container col-xs-12 col-md-6">
  <accordion close-others="oneAtATime">
<!--     <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group> -->
    <accordion-group is-open="status.isFirstOpen">
            <accordion-heading>
            土地用途分佈<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <!-- <div ng-if="!areaSelected.name">選擇地區</div> -->
        <!-- ng-if="areaSelected.name" -->
        <div >
        <h5>總面績：{{areaSelected.sizeByType.total.size}} 公頃</h5>
        <div ng-if="areaSelectedId!== 'fln_golf'">
      <nvd3-pie-chart 
          data="chartByAreaData"
          id="exampleId"
          width="550"
          height="350"
          x="xFunction()"
          y="yFunction()"
          showLabels="true"
          showLegend="true"
          tooltips="true"
          labelType="percent"
          tooltipcontent="areaChartTooltipFunction()"
          >
          <svg></svg>
      </nvd3-pie-chart>
      <span>規劃人口：{{areaSelected.population}}</span>
          
        </div>
    </div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
           公私營房屋分佈<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div>根據<a href="http://www.ozp.tpb.gov.hk/pdf/s_ktn_1_c.pdf">文件</a>最新數字</div>
        
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
           相關新聞報導<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
        <ul >
          <li ng-repeat="aNews in areaSelected.news"></li>
        </ul>
    </accordion-group>

  </accordion>
      
  </div>
  </div>