  body {
    padding: 0;
    margin: 0;
  }
  html, body{
    height: 100%;
    width: 100%;
  }
  .map-container {
    height: 65rem;
    padding-bottom:10rem;
    /*width: 50%;*/
  }
.control-container{
  /*margin-top:1rem;*/
  position:relative;
  z-index: 999;
  margin-bottom:1rem;
}

.navbar-static-top{
  z-index:997;
}
#map {
    height: 100%;
    width: 100%;
}
.code4hk-badge a{
float: left;
margin-right: 1rem;
margin-top: 1rem;}

.area-info{
  position: absolute;
font-size: 4rem;
z-index: 999;
margin-top: 1rem;
margin-bottom:1rem;
padding-left:1rem;
padding-right:1rem;

bottom:2rem;
/*background: rgba(255, 255, 255, 0.9);*/
background:gray;
color:white;
border-radius: 5px;
margin-left:1rem;
}

.slide img{
  max-height:35rem;
  /*max-width:40rem;*/
   vertical-align: middle;
}
.slide{
   /*line-height:10rem;*/
  min-height:30rem;
  text-align:center;
  background:transparent;
}
.slide-description{
  text-align:left;
  line-height: 2.5rem;
  min-height:10rem;
}

.slide:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}
.nv-legend-text{
  font-size:1.2rem;
}

.background-modal .modal-content{
  background:transparent;
  box-shadow: none;
  border: 0;
border-radius: 0;
}
.background-modal .modal-footer{
  background:white;
}

.legend-container{
text-align:center;
max-height:40rem;
max-width:100%;
width:auto;
overflow-y:scroll;
}

.legend-container img{
max-width:100%;

}

.description-container {
  max-height:40rem;
  overflow-y:scroll;
}


.description-container td.description{
  width: 75%;
}
.description-container tr{
border: 1px solid black;
}

.video-container  iframe{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40rem;
    width: 100%;
}
}

.menu-buttons{
  padding-top: 15px;padding-bottom: 15px;line-height: 20px;
}

/*
div.leaflet-overlay-pane > img:nth-child(2){
  -webkit-transform: translate3d(217px, 264px, 0px) rotate(-6deg) !important;
}*/