<div ng-intro-options="IntroOptions" ng-intro-method="startIntro" ng-intro-autostart="false" ng-intro-onafterchange="onAfterChange">
  <div class="map-container col-xs-12 col-md-6" >
  <div class="area-info">{{areaSelected.name}}</div>
   <div class="pull-right control-container">
       <button class="btn btn-default" ng-click="selectArea('s_ktn_1')">古洞北</button>
    <button class="btn btn-default" ng-click="selectArea('s_fln_1')">粉嶺北</button>
    <button class="btn btn-default" ng-click="selectArea('total')">古洞北及粉嶺北</button>
        <button class="btn btn-default" ng-click="selectArea('fln_golf')">粉嶺哥爾夫球場</button>
                <button class="btn btn-default" ng-click="selectArea('lmc_loop')">落馬洲河套區</button>
<button class="btn btn-info" ng-click="startIntro()">說明</button>

   </div>
   <leaflet  id="map" defaults="defaults" center="defaultCenter" layers="layers" geojson="displayedGeoJSON"  markers="displayedMarkers"> </leaflet>
        <div class="pull-right"><a target="_blank" href="http://www.nentnda.gov.hk/doc/pe/info_digest.pdf" >  規劃圖層來源：新界東北新發展區規劃及工程研究資料摘要</a></div>
  </div>
  <div cg-busy="loadingInfoPromise" class="info-container col-xs-12 col-md-6">
  <div   ng-controller="MapInfoAccordionCtrl" >

  <accordion close-others="oneAtATime">
<!--     <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group> -->
    <accordion-group id="landuse" is-open="status.isFirstOpen">
      <accordion-heading>
            土地用途分佈 - {{areaSelected.name}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      <div >
        <span ng-show="areaSelectedId!== 's_ne_tkl_14'"><h5>總面積：{{areaSelected.sizeByType.area_total.size}} 公頃</h5></span>
        <div ng-show="(areaSelectedId === 'lmc_loop')">
          根據2013年7月公佈<a target="_blank" href="http://www.lmcloop.gov.hk/chi/new.html">規劃署發展規劃及工程研究</a>，<a target="_blank" href="http://www.lmcloop.gov.hk/pdf/Stage2_ExPanels/PER2/T-LMCL_S3_Digest_PREVIEW-FINAL.pdf">資料摘要連結</a>
           <div >以樓面面積面積計算</div>
        </div> 
        <div ng-show="(areaSelectedId=== 's_ktn_1' || areaSelectedId=== 's_fln_1' || areaSelectedId=== 'total')">
          <div>根據政府城市規劃委員會2013-12-20刊憲規劃大綱草圖<a href="http://www.ozp.tpb.gov.hk/pdf/s_ktn_1_c.pdf">古洞北</a>、<a href="http://www.ozp.tpb.gov.hk/pdf/S_FLN_1_c.pdf">粉嶺北</a><br/>
            及<a target="_blank" href="http://www.districtcouncils.gov.hk/north/doc/tc/dc_meetings_doc/n_2013_073_ch.pdf"> 北區區議會2013-12-12日討論文件土地用途摘要數字</a>
          </div>
        </div>

        <div>
             <button class="btn btn-info" ng-class="{active: areaIndex===0}" ng-click="showArea(0)">分佈圖表</button>
             <button class="btn btn-info" ng-show=" areaSelectedId== 's_fln_1' || areaSelectedId== 's_ktn_1' " ng-class="{active: areaIndex===1}"  ng-click="showArea(1)">土地用途資料</button>
             <button ng-show="(areaSelectedId=== 'lmc_loop')" class="btn btn-info" ng-class="{active: !areaIndex===2}" ng-click="showArea(2)">發展概要</button>
        </div>

        <div  ng-show="areaIndex===0" style="text-align: center;">
          <nvd3-pie-chart 
              data="chartByAreaData"
              id="exampleId"
              height="350"
              margin="{left:0,top:0,bottom:0,right:0}"
              x="xFunction()"
              y="yFunction()"
              showLabels="true"
              showLegend="false"
              tooltips="true"
              pieLabelsOutside="true"
              tooltipcontent="areaChartTooltipFunction()"
              >
              <svg id="chart1"></svg>
          </nvd3-pie-chart>
        </div>
        <div ng-show="areaIndex===2 && areaSelectedId=== 'lmc_loop'">
            <br/>  
            河套地區發展以高等教育為主，輔以高新科技研發和文化創意產業用途。<br/>
            <b>規劃最高學生人數：</b>{{areaSelected.dataMap["max_students"].size | number:0}}<br/>
            <b>規劃就業機會(約)：</b>{{areaSelected.dataMap["max_jobs"].size | number:0}}
        </div>

        <div>
          <span ng-show="areaSelected.dataMap.population.size >0"><b>規劃人口：</b>{{areaSelected.dataMap["population"].size | number:0}}</span>
        </div>

        <div ng-show="areaIndex===1" class="description-container">
        <table><th>分區</th><th>用途</th>
        <tr ng-repeat="aType in areaSelected.sizeByType " ng-if="aType.sizeKey !=='area_total' && aType.description !== ''" >
        <td>{{aType.key}}</td><td class="description">{{aType.description}}<td></td>
        </tr></table>
        </div>

        </div>

    </accordion-group>
    <accordion-group id="housing" is-open="status.isPPChartOpen">
        <accordion-heading>
           公私營房屋分佈 - 古洞北及粉嶺北<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
           <div ng-if="status.isPPChartOpen">
        <div>根據政府城市規劃委員會2013-12-20刊憲<a href="http://www.ozp.tpb.gov.hk/pdf/s_ktn_1_c.pdf">規劃大鋼</a>及<a href="http://www.info.gov.hk/gia/general/201402/19/P201402190311.htm" target="_blank">發展局於立法會書面回覆梁國雄議員</a>最新數字</div>
        <div>無每區數字資料，此為古洞北及粉嶺北兩區數字</div>
        <nvd3-pie-chart 
          data="ppChartBySize"
          id="ppChartByArea"
          height="350"
          x="xFunction()"
          y="yFunction()"
          showLabels="true"
          showLegend="false"
          tooltips="true"
                    tooltipcontent="areaChartTooltipFunction()"
          >
          <svg id="chart2"></svg>
      </nvd3-pie-chart>

<div class="clearfix">
      住宅面積計算：住宅(甲、乙、丙類) ＋ 綜合發展區 ＋ 商業╱住宅發展連公共交通交匯處

</div>
</div>

    </accordion-group>
        <accordion-group id="legend" is-open="status.isLegendOpen">
         <accordion-heading>
           規劃圖圖例<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="legend-container">
        <a href="/data/legend.jpg">
          <img  src="/data/legend.jpg"></img>
        </a>
        </div>
          
    </accordion-group>

    <accordion-group ng-if="false" is-open="status.isNewsOpen">
        <accordion-heading>
           相關新聞報導<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        相關新聞報導
        <ul >
          <li ng-repeat="aNews in areaSelected.news"></li>
        </ul>
    </accordion-group>

  </accordion>
      
  </div>
  </div>
  </div>
      <script type="text/ng-template" id="templates/modal-content.html">
      <div nav-by-keys ng-swipe-left="prev()" ng-swipe-right="next()" class="slide">
      <a ng-href="{{slides[activeIndex].image}}" target="_blank">
      <img ng-src="{{slides[activeIndex].image}}" ></img></a>
      </div>
      <div class="modal-footer">
        <div class="slide-description" ng-bind-html="slides[activeIndex].text"></div>
        <span ng-show="slides[activeIndex].sources.length>0">參考資料：</span>
        <ul style="list-style-type:none;">
        <li ng-repeat="source in slides[activeIndex].sources"><a ng-href="{{source.url}}" target="_blank"> {{source.ref}}</a></li>
        </ul>
            <button class="btn btn-warning" ng-click="$dismiss()">地圖詳細資料</button>
            <button ng-show="activeIndex>0" class="btn btn-info" ng-click="prev()">上一頁</button>
            <button class="btn btn-primary" ng-show="activeIndex<slides.length-1" ng-click="next()">繼續</button>
    </div>

    </script>
        <script type="text/ng-template" id="templates/modal-video.html">
        <div class="modal-body video-container">
           <iframe   src="//www.youtube.com/embed/KWb764kankk" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

  </div>
